---
layout: default
---

{% for meeting in site.data.meetings %}
  <div class="card mb-4">
    {% if meeting.img %}
      <img class="meeting__img card-img-top" src="{{meeting.img}}" alt="{{meeting.title}}">
    {% endif %}

    <div class="card-block">
      <div class="media mb-3">
        <div class="mr-3 meeting__book-icon"></div>
        <!--
          The SVG is added by Vivus when the above div scrolls into view
          <img class="mr-3 meeting__book-icon" src="/assets/images/icons/book-lines.svg">
        -->

        <div class="media-body">
          <h4 class="card-title">{{meeting.title}}</h4>
          <p class="book__host">Host: {{meeting.host}}</p>
        </div>
      </div>


      <ul class="list-unstyled books row">
        {% for book in meeting.books %}
          <li class="media col-md-6 mb-2">
            {% if book.img %}
              <img class="book__img mr-3 --opacity-will-increase" src="{{book.img}}" alt="{{book.title}}">
            {% elsif book.isbn %}
              <img class="book__img mr-3 --opacity-will-increase" src="//images.amazon.com/images/P/{{book.isbn}}.01.LZZZZZZ.jpg" alt="{{book.title}}">
            {% endif %}
            <div class="media-body">
              <div class="book__title">{{book.title}}</div>
              <div class="book__author">{{book.author}}</div>
              <div class="book__rating --fade-in-wrapper" title="Rating: {{book.rating}}" data-book-rating="{{book.rating}}">
                <div class="--fade-in-inner">
                  <div class="book__rating--background">
                    {% for i in (1..5) %}
                      <img class="book__rating_star" src="/assets/images/icons/book-no-star.svg">
                    {% endfor %}
                  </div>
                  <div class="book__rating--foreground">
                    {% for i in (1..5) %}
                      <img class="book__rating_star" src="/assets/images/icons/book-star.svg">
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
