---
---

@import 'bootstrap/bootstrap';
@import 'variables';

body {
  background-image: url(/assets/images/bg.png);
}

h1 {
  font-family: $title-font-stack;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $title-color;
  background-color: $title-bg-color;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 4em;

  .dot {
    display: inline-block;
    position: relative;
    height: 1em;
    top: -0.3em;
    left: -4px; // kerning
  }

  .tld {
    display: inline-block;
    position: relative;
    top: -0.37em;
    font-size: 0.5em;
  }
}

p.lead {
  background-color: $title-bg-color-more-opaque;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0;
  font-weight: 500;
  color: $title-color;
}

@media (min-width: 576px) {
  p.lead {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.masthead {
  background-image: url(/assets/images/masthead.jpg);
  background-size: cover;
}

.book__title {
  font-weight: bold;
}

.book__author {
  font-weight: lighter;
  font-size: smaller;
}

.book__img {
  max-width: 50%;
  box-shadow: 2px 2px 6px #ccc;
}

.meeting__img--wrapper {
  overflow: hidden;
}

.meeting__img--img {
  object-fit: contain;
  background-color: gray;
  width: 100%;
}

.meeting__book-icon {
  width: 75px;
  height: 75px;
}

.fade-in-inner {
  /* shown using the setupFadeIns() function */
  display: none;
}

.opacity-will-increase {
  opacity: 0.5;
  transition: opacity 1s;

  /* added with the setupOpacityIncreasers() function */
  &.opacity-did-increase {
    opacity: 1;
  }
}

.book__rating {
  margin-top: 0.5em;
  width: 95px;
  letter-spacing: -4px; /* helps to make sure star icons have minimal space between */
  min-height: 50px; /* makes it so that the text doesn't jump when the book-stars load */

  .book__rating_inner {
    position: relative;
    height: 2em; /* must have height otherwise relative-position parent div collapses */
  }

  .book__rating_star {
    width: 15px;
    height: 15px;
  }

  .book__rating--background,
  .book__rating--foreground {
    position: absolute;
    top: 0;
    left: 0;
  }
  .book__rating--label {
    letter-spacing: 0;
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .book__rating {
    width: 145px;

    .book__rating_star {
      width: 25px;
      height: 25px;
    }
  }
}

.card {
  background: $card-bg-color;
  border-width: 2px;

  .card-title {
    text-transform: uppercase;
    color: #6b7072;
  }
}
