---
---

@import "bootstrap/bootstrap";
@import "variables";

body {
  background-image: url(/assets/images/bg.png);
}

h1 {
  font-family: 'Taviraj', serif;
}

.masthead {
  background-image: url(/assets/images/masthead.jpg);
  background-size: cover;
}

.book__title {
  font-weight: bold;
}

.book__author {
  font-weight: lighter;
  font-size: smaller;
}

.book__img {
  max-width: 50%;
  box-shadow: 2px 2px 6px #CCC;
}

.meeting__img {
  object-fit: contain;
  background-color: gray;
  width: 100%;
}

.meeting__book-icon {
  width: 75px;
  height: 75px;
}

.book__rating_star {
  width: 1em;
  height: 1em;
}

@media (min-width: 576px) {
  .book__rating_star {
    width: 1.5em;
    height: 1.5em;
  }
}
